In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('Resources/charity_data.csv')
application_df.head()

c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=["EIN", "NAME"])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1246        2
C1267        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target array
y = application_dummies["IS_SUCCESSFUL"]
X = application_dummies.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                294195
_________________________________________________________________
dense_1 (Dense)              (None, 25)                400
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 26
=================================================================
Total params: 294,621
Trainable params: 294,621
Non-trainable params: 0
_________________________________________________________________

In [15]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\weike\anaconda3\envs\PythonDataOne\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
25724/25724 [==============================] - 13s 496us/sample - loss: 0.5024 - acc: 0.7496 - loss: 0.505
Epoch 2/100
25724/25724 [==============================] - 12s 455us/sample - loss: 0.2237 - acc: 0.9186
Epoch 3/100
25724/25724 [==============================] - 12s 458us/sample - loss: 0.1115 - acc: 0.9550
Epoch 4/100
25724/25724 [==============================] - 12s 464us/sample - loss: 0.0985 - acc: 0.9599
Epoch 5/100
25724/25724 [==============================] - 12s 457us/sample - loss: 0.0944 - acc: 0.9620
Epoch 6/100
25724/25724 [==============================] - 12s 457us/sample - loss: 0.0920 - acc: 0.9631 - loss: 0.093
Epoch 7/100
25724/25724 [==============================] - 12s 460us/sample - loss: 0.0913 - acc: 0.9613
Epoch 8/100
25724/25724 [==============================] - 12s 467us/sample - loss: 0.0904 - acc: 0.9622
Epoch 9/100
25724/25724 [==============================] - 14s 525us/sample - loss: 0.0897 - acc: 0.9625
Epoch 10/100
25724/25724 [==============================] - 14s 546us/sample - loss: 0.0886 - acc: 0.9635
Epoch 11/100
25724/25724 [==============================] - 14s 536us/sample - loss: 0.0879 - acc: 0.9634
Epoch 12/100
25724/25724 [==============================] - 14s 531us/sample - loss: 0.0883 - acc: 0.9627 - loss:
Epoch 13/100
25724/25724 [==============================] - 14s 535us/sample - loss: 0.0876 - acc: 0.9636
Epoch 14/100
25724/25724 [==============================] - 15s 569us/sample - loss: 0.0869 - acc: 0.9640
Epoch 15/100
25724/25724 [==============================] - 15s 578us/sample - loss: 0.0864 - acc: 0.9642
Epoch 16/100
25724/25724 [==============================] - 14s 558us/sample - loss: 0.0860 - acc: 0.9641
Epoch 17/100
25724/25724 [==============================] - 13s 518us/sample - loss: 0.0853 - acc: 0.9644
Epoch 18/100
25724/25724 [==============================] - 14s 540us/sample - loss: 0.0854 - acc: 0.9643
Epoch 19/100
25724/25724 [==============================] - 13s 523us/sample - loss: 0.0849 - acc: 0.9649
Epoch 20/100
25724/25724 [==============================] - 15s 576us/sample - loss: 0.0849 - acc: 0.9647
Epoch 21/100
25724/25724 [==============================] - 13s 498us/sample - loss: 0.0842 - acc: 0.9649 - loss - ETA: 4s - lo - E - ETA: 1s - loss: 0
Epoch 22/100
25724/25724 [==============================] - 12s 483us/sample - loss: 0.0839 - acc: 0.9648A: 3s - loss: 0.0856 - acc: - ETA: 3s - loss: 0.0849 -  -  - ETA: 0s - loss: 0.0847 - acc
Epoch 23/100
25724/25724 [==============================] - 13s 500us/sample - loss: 0.0835 - acc: 0.9660s - loss: 0.0843 - acc: 0. - E - ETA: 1s - loss: 0.0825 - acc: 0. - ETA: 1s -
Epoch 24/100
25724/25724 [==============================] - 13s 489us/sample - loss: 0.0832 - acc: 0.9658 - loss: 0.0856 - acc - ETA - ETA: 5s - loss: 0.0 - ETA: 4s - loss: 0.0845 - acc: 0.9 - ETA: 4s - loss: 0.0841 - ac - ETA: 4s - loss: 0.08 - ETA: 3s - loss: 0
Epoch 25/100
25724/25724 [==============================] - 13s 523us/sample - loss: 0.0830 - acc: 0.9663 - - ETA: 0s - loss: 0.0827 - acc: 0.966
Epoch 26/100
25724/25724 [==============================] - 12s 478us/sample - loss: 0.0829 - acc: 0.9656s - loss: 0.0800 - acc: 0.96 - ETA: 11s - loss:  - ETA:  - ETA: 8s - loss: 0.0775 - acc: 0.969 - ETA: 8s - loss: - ETA: 7s - loss: 0.0788 - acc: 0 - ETA: 7s - loss: 0.0793 - acc: 0 - ETA: 7s - loss: 0.0808  - ETA: 6s - loss: 0.0817 -  - ETA: 5s - loss: 0.0816 - acc: 0.966 - ETA: 5s  - ETA: 3s - loss: 0.0821 - ac - ETA: 0s - loss: 0.083
Epoch 27/100
25724/25724 [==============================] - 12s 478us/sample - loss: 0.0830 - acc: 0.9661s - loss: 0.0795 - - ETA: 9s - - ETA: 7s -  - ETA: 5s - loss: 0.0 - ETA: 0s - loss: 0.0829 - acc: 0.96
Epoch 28/100
25724/25724 [==============================] - 12s 477us/sample - loss: 0.0819 - acc: 0.9659 ETA: 5s - loss: 0.0825 - a - ETA: 5s - loss: 0.0 - ETA: 4s
Epoch 29/100
25724/25724 [==============================] - 12s 477us/sample - loss: 0.0818 - acc: 0.9667 - loss: 0.0816 - acc: 0.96 - ETA: 0s - loss: 0.0814 - acc: 0
Epoch 30/100
25724/25724 [==============================] - 12s 479us/sample - loss: 0.0812 - acc: 0.9665: 10s - loss: - ETA: 7s - loss: 0.0772 - acc: 0.968 - ETA: 7s - los - ETA: 3s - loss: 0.0813 - acc: 0.966 - ETA: 3s - loss: 0. - E
Epoch 31/100
25724/25724 [==============================] - 12s 476us/sample - loss: 0.0816 - acc: 0.9668 2s - loss: 0.0818 - acc - ET
Epoch 32/100
25724/25724 [==============================] - 12s 474us/sample - loss: 0.0811 - acc: 0.9668s - loss: 0.0937 - acc - ETA: 11s - lo - ETA: 10s - loss: 0.08 - - ETA: 8s - loss: 0.0852 - acc: 0. - ETA: 7s - loss: - ETA: 6s - l - ETA: 5s - lo - ETA: - ETA: 1s
Epoch 33/100
25724/25724 [==============================] - 12s 474us/sample - loss: 0.0810 - acc: 0.9669 - loss: 0.0796 - acc: 0.967 - ETA: 4s - loss: 0.0797 -  - ETA - ETA: 2s - loss: 0.0782 - acc: 0.967 - ETA: 2s - lo - ETA: 0s - loss: 0.0799
Epoch 34/100
25724/25724 [==============================] - 12s 474us/sample - loss: 0.0805 - acc: 0.9666 - loss: 0.0791 -  - ETA: 4s - loss: 0.0796 - acc: 0.966 - ETA: 4s - loss: 0.0796 -  - ETA: 3s  - ETA: 2s - loss: 0.0813 - acc: 0. - ETA: 1s - loss: 0.0 - ETA: 0s - loss: 0.080
Epoch 35/100
25724/25724 [==============================] - 12s 471us/sample - loss: 0.0801 - acc: 0.9665s - loss: 0.0806 - acc - ETA: 9s - l - ETA: 8s - loss: 0 - ETA: 6s - loss: 0.0747 - acc: 0.969 - ETA: 6s - loss: 0.0749 - a - ETA: 6s - loss: 0.07 - ETA: 5s - loss: 0.0800 - ac - ETA: 4s - loss: 0.0814 - acc: 0.9
Epoch 36/100
25724/25724 [==============================] - 12s 472us/sample - loss: 0.0802 - acc: 0.9669ETA: 3s - loss: 0.0807  - ETA: 0s - loss: 0.0804 -
Epoch 37/100
25724/25724 [==============================] - 12s 475us/sample - loss: 0.0800 - acc: 0.9673TA: 10s - loss - ETA: 9s - loss: 0.0781 - acc: 0.9 - ETA: 9s - loss: 0.0776 - acc: 0.96 - ETA: 9s - loss: 0.0790  - ETA: 8s - loss: 0.0788 - ETA: 7s - loss: 0.0795 - acc: 0.968 - ETA: 7s - loss: 0.0789 - a - ETA: 6s - loss: 0.07 - ETA: 5s - loss: 0.0781 - acc - ET - ETA: 0s - loss: 0.07
Epoch 38/100
25724/25724 [==============================] - 13s 504us/sample - loss: 0.0790 - acc: 0.9673s - loss: 0.0814 -
Epoch 39/100
25724/25724 [==============================] - 14s 540us/sample - loss: 0.0789 - acc: 0.9673 - loss: 0.0766 - acc: 0.9 - ETA: 8s - loss: 0.07 - ETA: 7s - loss: 0.0774 - acc: 0.968 - ET - ETA: 5s - loss: -  - ETA: 1s -
Epoch 40/100
25724/25724 [==============================] - 13s 489us/sample - loss: 0.0786 - acc: 0.9672 - loss: 0.078 - ETA: 1s - loss: 0.0786 - acc: 0 - ETA: 1s - loss: 0.0789 - acc: 0 - ETA: 1s - loss:  - ETA: 0s - loss: 0.0787 - acc: 0.967
Epoch 41/100
25724/25724 [==============================] - 12s 475us/sample - loss: 0.0783 - acc: 0.9679s - loss: 0.0720 - acc: 0.97 - ETA: 11s - loss: 0.0719 - ETA: 10s - loss: 0. - ETA: 10s - loss: 0.0 - ETA: 9s - loss: 0.0737 - acc: - ETA: 8s - loss: 0.0735 - acc - ETA: 8s - loss: - ETA: 4s - loss: 0.0772  - ETA: 4s - loss: 0.0788 - acc: 0.967 - ETA: 3s - loss: 0.0786 - acc: 0.96 - ETA: 3s - loss: 0.0787  - ETA: 0s - loss: 0.0790
Epoch 42/100
25724/25724 [==============================] - 13s 495us/sample - loss: 0.0782 - acc: 0.9679 -  - ETA: 0s - loss: 0.0783 - acc: 0.
Epoch 43/100
25724/25724 [==============================] - 13s 491us/sample - loss: 0.0782 - acc: 0.9675
Epoch 44/100
25724/25724 [==============================] - 13s 506us/sample - loss: 0.0779 - acc: 0.9679 - loss: 0.0 - ETA: 5s - loss: 0.0785 - ac - ETA: 5s - loss: 0.0771 - ETA: 2 - ETA: 0s - loss: 0.077
Epoch 45/100
25724/25724 [==============================] - 13s 501us/sample - loss: 0.0775 - acc: 0.9685 - los - ETA: 8s - l
Epoch 46/100
25724/25724 [==============================] - 13s 494us/sample - loss: 0.0773 - acc: 0.9675 - loss:  - ETA: 1s - loss: 0.0787 -  - ETA: 0s - loss: 0.0775
Epoch 47/100
25724/25724 [==============================] - 13s 490us/sample - loss: 0.0772 - acc: 0.9684 - loss: 0.0779 - acc: 0 - ETA: 4s -  - ETA: 3s - ETA: 1s - los
Epoch 48/100
25724/25724 [==============================] - 12s 476us/sample - loss: 0.0776 - acc: 0.9689 - loss: 0. - ET - ETA: 6s - lo - ETA: 5s - loss: 0.0742 - ETA: 4s - loss: 0.07 - ETA: 3s - loss: - ETA:
Epoch 49/100
25724/25724 [==============================] - 12s 477us/sample - loss: 0.0772 - acc: 0.9682s - loss: 0.0707 - acc: 0.9 - ETA: 7s - - ETA: 3s - loss: 0.0769 - acc: 0. - ETA: 3s - loss: 0.0771 - a - ETA: 2s - loss: 0.0776 - acc: 0.96 - ET - ETA: 0s - loss: 0.0773 -
Epoch 50/100
25724/25724 [==============================] - 12s 479us/sample - loss: 0.0765 - acc: 0.9682s - ETA: 8s - loss: 0.0720 - acc: 0.969 - ETA: 8s - loss: 0.071 - ETA: 7s - loss: 0.0732 - acc: - E - ETA: 5s - loss: 0.0 - ETA: 1s - loss: 0.0757 - ac - ETA: 1s - loss: 0 - ETA: 0s - loss: 0.0769 - acc:
Epoch 51/100
25724/25724 [==============================] - 13s 490us/sample - loss: 0.0769 - acc: 0.9688s - - ETA: 9s - loss: 0.0752 - acc: 0. - ETA: 9s - loss: 0.0747 - acc:  - ETA: 8s - loss - ETA: 0s - loss: 0.0770 -
Epoch 52/100
25724/25724 [==============================] - 12s 483us/sample - loss: 0.0767 - acc: 0.9683 - loss: 0.0716  - ETA: 6s - loss: 0 - ETA: 5s - loss: 0.0737 - acc - ETA: 5s - loss: 0.0737 - acc: 0. - ETA: 4s - lo - ETA: 3s - loss - ETA: 1s - loss: 0.0749 - acc: 0.96 - ETA: 1s - loss: 0.0751 - acc: - ETA: 1s - los
Epoch 53/100
25724/25724 [==============================] - 12s 485us/sample - loss: 0.0764 - acc: 0.9685
Epoch 54/100
25724/25724 [==============================] - 13s 494us/sample - loss: 0.0760 - acc: 0.9687 ETA: 5s - loss: 0.0771 - acc: 0.968 - ETA: 5s - loss: 0.076 - ETA: 4s - loss: 0.0767 - acc: 0. - ETA: 3s -  - ETA: 2s - loss: 0.0767 -  - ETA
Epoch 55/100
25724/25724 [==============================] - 13s 497us/sample - loss: 0.0761 - acc: 0.9689 - loss: 0.0772 - acc:  - ETA: 9s - loss: - ETA: 7s - loss: 0.0761 - acc: 0.9 - ETA: - ETA: 5s - loss: 0.0766 - acc: 0.96 - ETA - ETA: 3s - loss: 0.0762 - acc: 0. - ETA: 3s - loss - ETA
Epoch 56/100
25724/25724 [==============================] - 13s 508us/sample - loss: 0.0759 - acc: 0.9686 - loss: 0.0747 -  - ETA: 0s - loss: 0.0759 - acc: 0.968
Epoch 57/100
25724/25724 [==============================] - ETA: 0s - loss: 0.0761 - acc: 0.968 - 15s 569us/sample - loss: 0.0761 - acc: 0.9687
Epoch 58/100
25724/25724 [==============================] - 14s 529us/sample - loss: 0.0753 - acc: 0.9690 - loss: 0.07 - ETA: 2s - loss: 0.0754 - acc: 0.969 - ETA: 2s - loss: 0.0753 - acc - ETA: 2s - lo - ETA: 0s - loss: 0.0755 - ac
Epoch 59/100
25724/25724 [==============================] - 13s 498us/sample - loss: 0.0757 - acc: 0.9691s - loss: 0.0735 - acc: 0.97 - ETA: 10s - loss: 0.0728 -  - ETA: 5s - loss: 0
Epoch 60/100
25724/25724 [==============================] - 12s 480us/sample - loss: 0.0750 - acc: 0.9688 - loss: 0.0748 - acc:  - ETA: 5s - loss: 0.0751 - acc: 0.96 - ETA: 5s - loss: 0.0752 - - ETA: 4s - loss: 0.0749 - - ETA: 3s - loss: 0.0766 - acc: 0.967 - ETA: 3s - loss: 0.0769  - ETA: 2s - loss: 0.0763 - acc - ETA: 2s - loss: 0.0756 - acc: 0. - ETA: 2s - - ETA: 0s - loss: 0.0751 -
Epoch 61/100
25724/25724 [==============================] - 12s 482us/sample - loss: 0.0748 - acc: 0.9693ETA: 4s - loss: 0.0733 - acc - ETA: 4s
Epoch 62/100
25724/25724 [==============================] - 13s 488us/sample - loss: 0.0745 - acc: 0.9691
Epoch 63/100
25724/25724 [==============================] - 12s 478us/sample - loss: 0.0752 - acc: 0.9694 - loss: 0.0771 - ETA: 5s - loss: 0.0765 - acc: 0 - ETA: 5s - loss: 0.0767 - ETA: 4s - loss: 0.0758 - acc: 0.969 - ETA: 4s  - ETA: 2s - loss: - ETA: 1s - loss: 0.0766 - ETA: 0s - loss: 0.0754 - acc: 0.9 - ETA: 0s - loss: 0.0752 - ac
Epoch 64/100
25724/25724 [==============================] - 12s 475us/sample - loss: 0.0752 - acc: 0.9687 - loss: 0.0759 - acc: 0. - ETA: 2s - loss: 0 - ETA: 1s - loss: 0.0751 - acc: 0.968 - ETA: 1s - loss: 0.0751 - acc: 0. - ETA: 0s - loss: 0.0747 - acc:  - ETA: 0s - loss: 0.0743 - acc: 0.969 - ETA: 0s - loss: 0.0742 - acc
Epoch 65/100
25724/25724 [==============================] - 12s 478us/sample - loss: 0.0749 - acc: 0.9687 - loss: 0.0735 - acc: 0.969 - ETA: 9s - loss: 0.0734 - acc: 0.9 - ETA: 9s - los - ETA: 8s - loss: 0.0725 - acc - ETA: 7s - ETA: 5s - loss: 0.0728 - acc: - ETA - ETA: 3s - loss: 0.0721 - acc: 0.970 - ETA: 3s - loss: 0.0722 - acc: 0.9 - ETA: 0s - loss: 0.0745 - acc: 0.9 - ETA: 0s - loss: 0.0747 - a
Epoch 66/100
25724/25724 [==============================] - 12s 479us/sample - loss: 0.0740 - acc: 0.9693s - loss: 0.0700 - acc:  - ETA: 10s - loss: 0.0725 - - ETA: 9s - loss: - ETA: 0s - loss: 0.0731 - acc: - ETA: 0s - loss: 0.0738 - ac
Epoch 67/100
25724/25724 [==============================] - 12s 477us/sample - loss: 0.0749 - acc: 0.9684s -  - ETA: 10s - loss: 0.0786 - acc: 0. - ETA: 10 - ETA: 7s - loss: 0.0774 - acc:
Epoch 68/100
25724/25724 [==============================] - 12s 476us/sample - loss: 0.0746 - acc: 0.9687 - los - ETA: 6s - loss: 0.0727 - a - ETA: 5s - loss: 0.0732 - acc:  - ETA: 2s - loss: 0.0745 - E
Epoch 69/100
25724/25724 [==============================] - 12s 474us/sample - loss: 0.0741 - acc: 0.9693s - lo - ETA: 10s -  - ETA: 10s - loss: 0.0707 - acc: 0.97 - ETA: 10s - loss:  - ETA: 6s - loss: 0.0719 - - ETA: 5s - loss: - ETA: 4s - loss: 0.0734 - acc:  - ETA: 4s - loss: 0.0733 - - ETA: 3s - los - ETA: 2s - los - ETA: 0s - loss: 0.0745 - acc: 0 - ETA: 0s - loss: 0.0737 - acc:
Epoch 70/100
25724/25724 [==============================] - 12s 477us/sample - loss: 0.0746 - acc: 0.9696 - loss: 0.0732 - acc: 0.970 - ETA: 7s - loss: 0.0736 - acc: 0.9 - ETA: 7s - loss: 0. - ETA: 6s - loss: 0.0746 - acc: 0 - ETA: 5s - loss: 0.0748 - acc: 0.  - ETA: 1s - loss: 0.0
Epoch 71/100
25724/25724 [==============================] - 12s 476us/sample - loss: 0.0740 - acc: 0.9703
Epoch 72/100
25724/25724 [==============================] - 12s 474us/sample - loss: 0.0744 - acc: 0.9694s - l
Epoch 73/100
25724/25724 [==============================] - 14s 532us/sample - loss: 0.0738 - acc: 0.9695
Epoch 74/100
25724/25724 [==============================] - 15s 580us/sample - loss: 0.0738 - acc: 0.9692
Epoch 75/100
25724/25724 [==============================] - 15s 576us/sample - loss: 0.0733 - acc: 0.9697
Epoch 76/100
25724/25724 [==============================] - 15s 576us/sample - loss: 0.0735 - acc: 0.9697
Epoch 77/100
25724/25724 [==============================] - 15s 579us/sample - loss: 0.0737 - acc: 0.9694
Epoch 78/100
25724/25724 [==============================] - 15s 580us/sample - loss: 0.0732 - acc: 0.9699 - loss: 0.0730 - acc: 0.
Epoch 79/100
25724/25724 [==============================] - 15s 578us/sample - loss: 0.0728 - acc: 0.9698 - los
Epoch 80/100
25724/25724 [==============================] - 15s 577us/sample - loss: 0.0730 - acc: 0.9696s - loss: 0. - ETA: 1s
Epoch 81/100
25724/25724 [==============================] - 15s 578us/sample - loss: 0.0737 - acc: 0.9692
Epoch 82/100
25724/25724 [==============================] - 15s 574us/sample - loss: 0.0732 - acc: 0.9697TA: 2s - loss: 0.07
Epoch 83/100
25724/25724 [==============================] - 15s 580us/sample - loss: 0.0727 - acc: 0.9698
Epoch 84/100
25724/25724 [==============================] - 12s 460us/sample - loss: 0.0724 - acc: 0.9700
Epoch 85/100
25724/25724 [==============================] - 12s 454us/sample - loss: 0.0729 - acc: 0.9698
Epoch 86/100
25724/25724 [==============================] - 12s 456us/sample - loss: 0.0727 - acc: 0.9701
Epoch 87/100
25724/25724 [==============================] - 12s 452us/sample - loss: 0.0722 - acc: 0.9703
Epoch 88/100
25724/25724 [==============================] - 12s 454us/sample - loss: 0.0725 - acc: 0.9698
Epoch 89/100
25724/25724 [==============================] - 12s 456us/sample - loss: 0.0722 - acc: 0.9700
Epoch 90/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.0724 - acc: 0.9702
Epoch 91/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.0719 - acc: 0.9699
Epoch 92/100
25724/25724 [==============================] - 12s 451us/sample - loss: 0.0722 - acc: 0.9701
Epoch 93/100
25724/25724 [==============================] - 12s 454us/sample - loss: 0.0717 - acc: 0.9706
Epoch 94/100
25724/25724 [==============================] - 12s 452us/sample - loss: 0.0716 - acc: 0.9700 - loss: 0.0706
Epoch 95/100
25724/25724 [==============================] - 12s 454us/sample - loss: 0.0719 - acc: 0.9702
Epoch 96/100
25724/25724 [==============================] - ETA: 0s - loss: 0.0719 - acc: 0.970 - 12s 454us/sample - loss: 0.0720 - acc: 0.9701
Epoch 97/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.0715 - acc: 0.9700
Epoch 98/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.0715 - acc: 0.9706
Epoch 99/100
25724/25724 [==============================] - 12s 455us/sample - loss: 0.0713 - acc: 0.9703
Epoch 100/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.0716 - acc: 0.9702

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 2s - loss: 0.9298 - acc: 0.6417
Loss: 0.929828488722487, Accuracy: 0.6417492628097534

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity2.h5')